# name of the ipset set to manage
setName: blacklist

# an optional list of subnets for which
# entries from the blacklist are ignored;
# useful to prevent someone from accidentally
# blocking internal networks
whitelist:
- 10.0.0.0/8
- 172.16.0.0/12
- 192.168.0.0/16
- 169.254.0.0/16
- 127.0.0.0/8
